Repository coders-camp-2021-best-team/TeamUp-Client: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, yarn lint

.lintstagedrc:

{
    "*.{js,ts,json,md,html}": "yarn format",
    "*.+(eslint|lintstaged|prettier)rc": "yarn format",
    "*.{js,ts}": "yarn lint"
}

fix
  src/components/Atoms/Navigation.tsx
  src/screens/Home/Home.tsx
Due: none

done
  src/screens/Home/Home.tsx
Due: none

done
  src/components/Atoms/Navigation.tsx
Due: none

creat mail confirmation
  src/screens/EmailConfirmation/EmailConfirmation.tsx
Due: none

creat mail confirmation
  src/App.tsx
Due: none

some styles change
  src/screens/EmailConfirmation/EmailConfirmation.tsx
Due: none

create header and add favicon (#22)
  public/favicon.ico
  src/App.tsx
  src/components/Atoms/Navigation.tsx
  src/components/Header/Header.tsx
  src/config/theme.ts
  src/screens/Home/Home.tsx
Due: yarn format, yarn lint

Issue 13 feat/UI mail confirmation (#24)
  src/screens/EmailConfirmation/EmailConfirmation.tsx
Due: none

feet: create api setup
  package.json
  src/Api/EndPoints/useLogin.ts
  src/Api/client/AuthService.ts
  src/Axios/Axios.ts
  src/Utils/ToastNotify.ts
  src/Utils/types.ts
  src/hooks/useApi.tsx
  src/index.tsx
  yarn.lock
Due: yarn format, yarn lint

refactor: Put mobile and desktop version in one file
  src/components/Profile/UserProfile.tsx
  src/components/Profile/description.tsx
  src/components/Profile/desktop.tsx
  src/components/Profile/index.tsx
  src/components/Profile/mobile.tsx
  src/screens/Profile/Profile.tsx
Due: none

refactor: Remove unnecessary code
  src/components/Profile/description.tsx
Due: none

login screen work in progress
  src/config/theme.ts
  src/screens/Login/Login.tsx
Due: yarn format, yarn lint

include comments
  .env.example
  src/Api/EndPoints/useLogin.ts
  src/Api/client/AuthService.ts
  src/Utils/ToastNotify.ts
  src/Utils/types/apiTypes.ts
  src/hooks/useApi.tsx
Due: yarn format, yarn lint

fix: Fix custom logger and env vars
  .env.example
  src/utils/Logger.ts
Due: yarn format, yarn lint

fix: Fix `Router` component
  src/Router.tsx
  src/routes/Routes.ts
Due: yarn format, yarn lint

fix: Fix `.lintstagedrc`
  .lintstagedrc
Due: none

fix: Fix Yarn 2 & Husky setup
  package.json
Due: yarn format

refactor: Simplify components structure
  src/components/Header.tsx
  src/components/Header/index.tsx
  src/components/Navigation.tsx
  src/components/ProtectedRoute.tsx
  src/components/ProtectedRoute/index.tsx
  src/components/index.tsx
  src/screens/Base/Base.tsx
Due: none

refactor: try to fix pr
  src/Utils/ToastNotify.ts
Due: yarn format, yarn lint

refactor: fixing
  src/Utils/ToastNotify.ts
  src/Utils/types/apiTypes.ts
Due: yarn format, yarn lint

pls work
  src/utils/ToastNotify.ts
  src/utils/types/apiTypes.ts
Due: yarn format, yarn lint

finally works... I hope
  src/utils/ToastNotify.ts
Due: yarn format, yarn lint

refactor: include comments
  src/hooks/index.tsx
  src/hooks/useApi.tsx
Due: none

Issue 7 feat/app api setup (#25)
  .env.example
  package.json
  src/Api/EndPoints/useLogin.ts
  src/Api/client/AuthService.ts
  src/Axios/Axios.ts
  src/hooks/index.tsx
  src/hooks/useApi.tsx
  src/index.tsx
  src/utils/ToastNotify.ts
  src/utils/types/apiTypes.ts
  yarn.lock
Due: yarn format, yarn lint

refactor: Add TODO comment
  src/components/Profile/UserProfile.tsx
Due: none

create templates for feed screen
  src/screens/Feed/Feed.tsx
Due: none

refactor: Put mobile and desktop components to one file
  src/components/Profile/UserProfile.tsx
  src/components/Profile/desktop.tsx
  src/components/Profile/index.tsx
  src/components/Profile/mobile.tsx
Due: none

feat: create register and reset password screen
  src/screens/Login/Login.tsx
  src/screens/Register/Register.tsx
  src/screens/ResetPassword/ResetPassword.tsx
Due: none

fix: Remove unnecessary changes
  src/components/Header.tsx
  src/utils/Logger.ts
Due: yarn format, yarn lint

fix: Disable error logging in production
  src/utils/Logger.ts
Due: yarn format, yarn lint

feat: Add `useLogin`,`useRegister` and `useUser` hooks
  .vscode/settings.json
  src/Api/EndPoints/useLogin.ts
  src/Api/EndPoints/useRegister.ts
  src/Api/EndPoints/useUser.ts
  src/Api/client/AuthService.ts
  src/Axios/Axios.ts
  src/index.tsx
  src/screens/Login/Login.tsx
  src/screens/Register/Register.tsx
  src/utils/types/apiTypes.ts
Due: yarn format, yarn lint

work on task
  src/screens/Base/Base.tsx
  src/screens/Feed/Feed.style.ts
  src/screens/Feed/Feed.tsx
  src/screens/Feed/useFeed.ts
  src/utils/index.ts
  src/utils/types/apiTypes.ts
Due: yarn format, yarn lint

feat: Handle user auth state (#33)
  .vscode/settings.json
  src/Api/EndPoints/useLogin.ts
  src/Api/EndPoints/useRegister.ts
  src/Api/EndPoints/useUser.ts
  src/Api/client/AuthService.ts
  src/Axios/Axios.ts
  src/index.tsx
  src/screens/Login/Login.tsx
  src/screens/Register/Register.tsx
  src/utils/types/apiTypes.ts
Due: yarn format, yarn lint

feat: Install `http-status-codes` package
  package.json
  yarn.lock
Due: yarn format

fix: Fix `ProtectedRoute` and error handling
  src/Api/EndPoints/useLogin.ts
  src/Api/EndPoints/useRegister.ts
  src/Api/EndPoints/useUser.ts
  src/Api/client/AuthService.ts
  src/Axios/Axios.ts
  src/components/ProtectedRoute/ProtectedRoute.tsx
  src/index.tsx
  src/screens/Login/Login.tsx
  src/screens/Profile/Profile.tsx
  src/utils/ToastNotify.ts
  src/utils/types/apiTypes.ts
Due: yarn format, yarn lint

feat: Add `LoggedOutRoute`
  src/components/LoggedOutRoute.tsx
Due: none

feat: Add params handling to `Profile` screen
  src/screens/Profile/Profile.tsx
Due: none

fix: Fix `Router`
  src/Router.tsx
  src/routes/Routes.ts
Due: yarn format, yarn lint

feat: Add logout functionality
  src/Api/EndPoints/useLogout.ts
  src/Api/EndPoints/useUser.ts
  src/Api/client/AuthService.ts
  src/Router.tsx
  src/components/ProtectedRoute/ProtectedRoute.tsx
  src/routes/Routes.ts
  src/screens/Logout.tsx
  src/screens/Profile/Profile.tsx
  src/screens/index.tsx
Due: yarn format, yarn lint

fix: Fix logger, Yarn 2 and components structure (#26)
  .env.example
  .lintstagedrc
  package.json
  src/Router.tsx
  src/components/Header.tsx
  src/components/Header/index.tsx
  src/components/Navigation.tsx
  src/components/ProtectedRoute.tsx
  src/components/ProtectedRoute/index.tsx
  src/components/index.tsx
  src/routes/Routes.ts
  src/screens/Base/Base.tsx
  src/utils/Logger.ts
Due: yarn format, yarn lint
