Repository coders-camp-2021-best-team/TeamUp-Client: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, yarn lint

feat: add routing
  package.json
  src/App.tsx
  src/Router.tsx
  src/components/Header/Header.tsx
  src/components/Header/index.tsx
  src/components/ProtectedRoute/ProtectedRoute.tsx
  src/components/ProtectedRoute/index.tsx
  src/components/index.tsx
  src/routes/Routes.ts
  src/screens/Base/Base.tsx
  src/screens/Base/index.tsx
  src/screens/Chat/Chat.tsx
  src/screens/Chat/index.tsx
  src/screens/ConfEmail/ConfEmail.tsx
  src/screens/ConfEmail/index.tsx
  src/screens/Error/Error.tsx
  src/screens/Error/index.tsx
  src/screens/Feed/Feed.tsx
  src/screens/Feed/index.tsx
  src/screens/Home/Home.tsx
  src/screens/Home/index.tsx
  src/screens/Login/Login.tsx
  src/screens/Login/index.tsx
  src/screens/Post/Post.tsx
  src/screens/Post/index.tsx
  src/screens/Profile/Profile.tsx
  src/screens/Profile/index.tsx
  src/screens/Register/Register.tsx
  src/screens/Register/index.tsx
  src/screens/ResetPassword/ResetPassword.tsx
  src/screens/ResetPassword/index.tsx
  src/screens/Search/Search.tsx
  src/screens/Search/index.tsx
  src/screens/index.tsx
  yarn.lock
Due: yarn format, yarn lint

refacor: comments included
  src/components/Header/Header.tsx
  src/components/ProtectedRoute/ProtectedRoute.tsx
  src/screens/Chat/Chat.tsx
  src/screens/ConfEmail/ConfEmail.tsx
  src/screens/Error/Error.tsx
  src/screens/Feed/Feed.tsx
  src/screens/Home/Home.tsx
  src/screens/Login/Login.tsx
  src/screens/Post/Post.tsx
  src/screens/Profile/Profile.tsx
  src/screens/Register/Register.tsx
  src/screens/ResetPassword/ResetPassword.tsx
  src/screens/Search/Search.tsx
Due: none

refactor: include comments
  src/Router.tsx
  src/components/ProtectedRoute/ProtectedRoute.tsx
  src/screens/ConfEmail/ConfEmail.tsx
  src/screens/ConfEmail/index.tsx
  src/screens/EmailConfirmation/EmailConfirmation.tsx
  src/screens/EmailConfirmation/index.tsx
  src/screens/Error/Error.tsx
  src/screens/index.tsx
Due: none

refactor: correct comment
  src/components/ProtectedRoute/ProtectedRoute.tsx
Due: none

feat: add logger
  src/utils/Logger.ts
Due: yarn format, yarn lint

refactor: disable checking for any type
  src/utils/Logger.ts
Due: yarn format, yarn lint

refactor: add rule to eslint
  .eslintrc
  src/utils/Logger.ts
Due: yarn format, yarn lint

refactor: package.json
  package.json
Due: yarn format

feat: add routing (#15)
  package.json
  src/App.tsx
  src/Router.tsx
  src/components/Header/Header.tsx
  src/components/Header/index.tsx
  src/components/ProtectedRoute/ProtectedRoute.tsx
  src/components/ProtectedRoute/index.tsx
  src/components/index.tsx
  src/routes/Routes.ts
  src/screens/Base/Base.tsx
  src/screens/Base/index.tsx
  src/screens/Chat/Chat.tsx
  src/screens/Chat/index.tsx
  src/screens/EmailConfirmation/EmailConfirmation.tsx
  src/screens/EmailConfirmation/index.tsx
  src/screens/Error/Error.tsx
  src/screens/Error/index.tsx
  src/screens/Feed/Feed.tsx
  src/screens/Feed/index.tsx
  src/screens/Home/Home.tsx
  src/screens/Home/index.tsx
  src/screens/Login/Login.tsx
  src/screens/Login/index.tsx
  src/screens/Post/Post.tsx
  src/screens/Post/index.tsx
  src/screens/Profile/Profile.tsx
  src/screens/Profile/index.tsx
  src/screens/Register/Register.tsx
  src/screens/Register/index.tsx
  src/screens/ResetPassword/ResetPassword.tsx
  src/screens/ResetPassword/index.tsx
  src/screens/Search/Search.tsx
  src/screens/Search/index.tsx
  src/screens/index.tsx
  yarn.lock
Due: yarn format, yarn lint

prepare theme
  src/App.tsx
Due: none

feat: Add media-based responsive mechanism
  src/hooks/index.tsx
  src/hooks/useOurMedia/index.tsx
  src/hooks/useOurMedia/theme.tsx
  src/hooks/useOurMedia/useOurMedia.tsx
Due: none

refactor: Use custom hook for testing
  src/screens/Home/Home.tsx
Due: none

create config folder and add theme.ts with prepare theme
  src/App.tsx
  src/config/theme.ts
Due: yarn format, yarn lint

refactor: Remove unnecessary embedded expressions
  src/hooks/useOurMedia/useOurMedia.tsx
Due: none

Prepare theme (#20)
  src/App.tsx
  src/config/theme.ts
Due: yarn format, yarn lint

refactor: Utilise useMemo hook
  src/hooks/useOurMedia/useOurMedia.tsx
Due: none

refactor: Remove unnecessary code
  src/screens/Home/Home.tsx
Due: none

refactor: Move theme options to one file
  src/config/theme.ts
  src/hooks/useOurMedia/index.tsx
  src/hooks/useOurMedia/theme.tsx
  src/hooks/useOurMedia/useOurMedia.tsx
Due: yarn format, yarn lint

refactor: Delete unnecessary directory
  src/hooks/useOurMedia.tsx
  src/hooks/useOurMedia/index.tsx
Due: none

feat/UI responsive mechanism (#21)
  src/config/theme.ts
  src/hooks/index.tsx
  src/hooks/useOurMedia.tsx
Due: yarn format, yarn lint

create header and add favicon
  public/favicon.ico
  src/components/Header/Header.tsx
  src/config/theme.ts
Due: yarn format, yarn lint

create header
  src/App.tsx
  src/components/Header/Header.tsx
  src/screens/Home/Home.tsx
Due: none

add one more style
  src/components/Header/Header.tsx
Due: none

control commit
  package.json
  src/Axios/Axios.ts
  src/hooks/useApi.tsx
  yarn.lock
Due: yarn format, yarn lint

refactor: comments included
  src/utils/Logger.ts
Due: yarn format, yarn lint

refactor: add variable to .env.example and delete instance
  .env.example
  src/utils/Logger.ts
Due: yarn format, yarn lint

refactor: testing
  src/screens/Home/Home.tsx
Due: none

refactor: delete unnecessary import
  src/screens/Home/Home.tsx
Due: none

work in progress
  src/Api/client/AuthService.ts
Due: yarn format, yarn lint

work in progress
  src/Api/client/AuthService.ts
  src/Axios/Axios.ts
Due: yarn format, yarn lint

refactor: delete unnecessary spaces
  .env.example
Due: none

chore: add logger (#16)
  .env.example
  .eslintrc
  package.json
  src/utils/Logger.ts
Due: yarn format, yarn lint

try to creat atom navigation
  src/components/Atoms/Navigation.tsx
  src/components/Header/Header.tsx
Due: none

working
  src/Api/client/AuthService.ts
  src/Axios/Axios.ts
  src/Utils/types.ts
  src/hooks/useApi.tsx
Due: yarn format, yarn lint

add navigation atom
  src/components/Atoms/Navigation.tsx
  src/components/Header/Header.tsx
  src/screens/Home/Home.tsx
Due: none

feat: Create profile for mobiles
  src/App.tsx
  src/components/Profile/desktop.tsx
  src/components/Profile/index.tsx
  src/components/Profile/mobile.tsx
  src/components/index.tsx
  src/screens/Profile/Profile.tsx
Due: none

refactor: Use flex for mobile screen
  src/components/Profile/mobile.tsx
Due: none

fix problem
  src/components/Atoms/Navigation.tsx
Due: none

refactor: Temporarily create separate desktop version
  src/App.tsx
  src/components/Profile/description.tsx
  src/components/Profile/desktop.tsx
  src/components/Profile/index.tsx
  src/components/Profile/mobile.tsx
  src/screens/Profile/Profile.tsx
Due: none

Path conditions:
  yarn format: any of: *.{js,ts,json,md,html}
  yarn lint: any of: *.{js,ts}
